<ion-header class="ion-no-border dashboardMenu">
  <ion-toolbar>
 
    <ion-title class="ion-text-capitalize">{{ titulo }}</ion-title>

    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"><ion-img src="/assets/menu-icon.png"></ion-img></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
     <ion-avatar>
       <!-- <img src="/assets/avatar.jpg" alt=""> -->
       <ion-img src="/assets/avatar.jpg"></ion-img>
     </ion-avatar>
    </ion-buttons>
  </ion-toolbar>
  
</ion-header>