.dashboardMenu{
    padding: 8px; 
}
.dashboardMenu ion-avatar {
    justify-content: center;
    display: flex;
    align-items: center;
}
.dashboardMenu ion-avatar ion-img{
    width: 40px!important;
    height: 40px!important;
    border-radius: 10%;
   
}