<ion-header class="ion-no-border dashboardMenu">
  <ion-toolbar *ngIf="user$ | async as user">
 
    <ion-title class="ion-text-capitalize">{{ titulo }}</ion-title>

    <ion-buttons slot="start">
      <!-- <img src="../../../assets/menu-icon.png"> -->
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
     <ion-avatar>
       <!-- <img src="/assets/avatar.jpg" alt=""> -->
       <ion-img [src]="usuario.photoURL"></ion-img>
     </ion-avatar>
    </ion-buttons>
  </ion-toolbar>
  
</ion-header>