<ion-header class="transparent ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs-seller/my-store" text="" color="medium" mode="ios"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="productos">
  <ion-img class="product-image" [src]="usuario.photoURL"></ion-img>
  
  <section class="container">
    <div class="ion-padding">
      <ion-grid>
        <ion-row>
          <ion-col style="text-align: left; vertical-align: middle;">
            <h4><b>{{ usuario.displayName }}</b></h4>
          </ion-col>
          <ion-col style="text-align: right; vertical-align: middle;">
            <ion-button size="small">Categoria</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
      <h6><b>Información de la tienda:</b></h6>
      <p>Información sobre la tienda....</p>
      <br>
      <h6><b>Productos que ofrece:</b></h6>
      <section class="ion-padding my-store">
      
        <ion-grid fixed>
          <ion-row>
            <ion-col size="auto" size-xl="3" size-lg="3" size-md="4" size-sm="6" size-xs="6" *ngFor="let producto of productos">
              <img [src]="producto.photoURL" class="myStoreProductImage" >
    
              <ion-card-header>
                <h6>{{producto.precio}}$</h6>
                <ion-card-title>{{producto.nombre}}</ion-card-title>
              </ion-card-header>
            </ion-col>
    
          </ion-row>
        </ion-grid>
     
      </section>
    </div>
  </section>
</ion-content>