<ion-header class="transparent ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="welcome" text="" color="medium" mode="ios"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img class="product-image" src="../../../assets/tienda.jpg"></ion-img>
  <h1>hola</h1>
  <section class="container">
    <div class="ion-padding">
      <ion-grid>
        <ion-row>
          <ion-col style="text-align: left; vertical-align: middle;">
            <h4><b>Nombre de la tienda</b></h4>
          </ion-col>
          <ion-col style="text-align: right; vertical-align: middle;">
            <ion-button size="small">Categoria</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
      <h6><b>Información de la tienda:</b></h6>
      <p>Rem est quos cupiditate. Ex amet ea. Ipsam nemo amet. Maiores nisi ea est quos quis necessitatibus.Sed purus
        leo, iaculis quis eleifend vitae, semper ut enim. Cras ornare id diam vel dictum. Vestibulum feugiat laoreet
        nunc. Nulla facilisi. Donec enim neque, commodo et tincidunt at, laoreet malesuada libero.</p>
      <h6><b>Productos que ofrece:</b></h6>
      <ion-row>
        <ion-col size="4">
          <button routerLink="/product" class="hidden-button">
            <img class="img-store" src="../../../assets/product1.jpg" />
            <p class="p-product"><b>$49,99</b></p>
            <p class="p-product">Silla</p>
          </button>
        </ion-col>
        <ion-col size="4">
          <button routerLink="/product" class="hidden-button">
            <img class="img-store" src="../../../assets/product1.jpg" />
            <p class="p-product"><b>$49,99</b></p>
            <p class="p-product">Silla</p>
          </button>
        </ion-col>
        <ion-col size="4">
          <button routerLink="/product" class="hidden-button">
            <img class="img-store" src="../../../assets/product1.jpg" />
            <p class="p-product"><b>$49,99</b></p>
            <p class="p-product">Silla</p>
          </button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="4">
          <button routerLink="/product" class="hidden-button">
            <img class="img-store" src="../../../assets/product1.jpg" />
            <p class="p-product"><b>$49,99</b></p>
            <p class="p-product">Silla</p>
          </button>
        </ion-col>
        <ion-col size="4">
          <button routerLink="/product" class="hidden-button">
            <img class="img-store" src="../../../assets/product1.jpg" />
            <p class="p-product"><b>$49,99</b></p>
            <p class="p-product">Silla</p>
          </button>
        </ion-col>
        <ion-col size="4">
          <button routerLink="/product" class="hidden-button">
            <img class="img-store" src="../../../assets/product1.jpg" />
            <p class="p-product"><b>$49,99</b></p>
            <p class="p-product">Silla</p>
          </button>
        </ion-col>
      </ion-row>
    </div>
  </section>
</ion-content>