<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Welcome</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content  class="ion-padding">
 
  <div class="container pg-welcome">
    <h1>GOOOOOOOOOL</h1>
    <h1>Bienvenido a </h1>
    <ion-img class="logo-welcome" src="../../../assets/logo-vertical.png"></ion-img>
    <p>Selecciona el modo de usuario a continuación.</p>

  </div>

  <section class="btn-welcome">
    <ion-button expand="block" fill="outline"  routerLink="/sign-in-client">Cliente</ion-button>
    <ion-button expand="block"   routerLink="/sign-in-seller">Vendedor</ion-button>
  </section>
 
  <section class="txt-log">
    <p>¿Ya tienes una cuenta? <b><a  href="/log-in">Iniciar Sesión</a></b></p>
  </section>

</ion-content>

 