<app-header titulo="Recuperar Contraseña"></app-header>

<ion-content class="my-background">
  <section class="container">

    <ion-grid>
      <ion-row>
        <ion-col>
          <div class="ion-text-justify">
            <h4 class="ion-padding">Por favor, ingresa el correo del cual desea recuperar la contraseña:</h4>
            <br>
          </div>

          <form>
            <ion-list class="ion-padding">

              <ion-label>
                Correo
              </ion-label>
              <ion-item>
                <ion-label>
                  <ion-icon name="mail-outline"></ion-icon>
                </ion-label>
                <ion-input placeholder="martin@gmail.com" #email type="mail"></ion-input>
              </ion-item>
              <br>
              <br>
              <div class="btn-align-center">
                <ion-button color="dark" type="submit" (click)="onResetPassword(email)">
                  <ion-icon name="arrow-forward-outline"></ion-icon>
                  <ion-label slot="start">Recuperar Contraseña</ion-label>
                </ion-button>
              </div>
              <ion-grid>
                <ion-row>

                  <ion-col>
                    <div class="ion-text-center">
                      <a routerLink="log-in">Iniciar Sesión</a><br><br>
                      <a routerLink="welcome">Registrarse</a>
                    </div>
                  </ion-col>
                </ion-row>

              </ion-grid>


            </ion-list>

          </form>
        </ion-col>
      </ion-row>

    </ion-grid>
  </section>

</ion-content>