<app-header titulo="Registro Cliente"></app-header>

<ion-content class="my-background">
    <section class="container">
        <div class="content" class="ion-padding">
            <h4>Por favor, procura llenar correctamente los datos.</h4>
            <br>

            <ion-list>
                <ion-label>
                    Nombre y Apellido
                </ion-label>
                <ion-item>
                    <ion-label>
                        <ion-icon name="person-outline"></ion-icon>
                    </ion-label>
                    <ion-input placeholder="Martín Montero" type="text"></ion-input>

                </ion-item>
                <br>
                <ion-label>
                    Correo
                </ion-label>
                <ion-item>
                    <ion-label>
                        <ion-icon name="mail-outline"></ion-icon>
                    </ion-label>
                    <ion-input placeholder="martin@gmail.com" type="mail"></ion-input>
                </ion-item>
                <br>
                <ion-label>
                    Contraseña
                </ion-label>
                <ion-item>
                    <ion-label>
                        <ion-icon name="lock-closed-outline"></ion-icon>
                    </ion-label>
                    <ion-input placeholder="123456" type="password"></ion-input>
                </ion-item>
                <br>
                <ion-label>
                    Cédula
                </ion-label>
                <ion-item>
                    <ion-label>
                        <ion-icon name="id-card-outline"></ion-icon>
                    </ion-label>
                    <ion-input placeholder="1001234567" type="text"></ion-input>
                </ion-item>

                <br>

                <div class="btn-align-center">
                    <ion-button color="dark" (click)="registerClient()">
                        <ion-icon name="arrow-forward-outline"></ion-icon>
                        <ion-label slot="start">Registrarse</ion-label>
                    </ion-button>
                </div>
                <br>
                <br>
                <section class="justify-content-center">
                    <p>También puedes registrarte con</p>
                    <div class="btn-social">
                        <ion-button color="dark" (click)="loginUser()">
                            <ion-icon name="logo-google"></ion-icon>
                        </ion-button>
                        <ion-button color="dark" (click)="loginUser()">
                            <ion-icon name="logo-facebook"></ion-icon>
                        </ion-button>
                    </div>
                </section>
                <section class="txt-log">
                    <p>¿Ya tienes una cuenta? <b><a href="/log-in">Iniciar Sesión</a></b></p>
                </section>
            </ion-list>
        </div>

    </section>
</ion-content>