 
ion-header, app-header, ion-toolbar{
    --background:#E5E5E5!important;
    background-color:#E5E5E5!important;
    --ion-toolbar-background:#E5E5E5!important;
}
.my-background{
    --background: #E5E5E5!important;
    
}
 
.container{
    width: 100%; 
    height: auto;
    min-height: -webkit-fill-available;
    background: #fff!important;
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;
    padding-top: 50px;
}
ion-item{
    margin-top: 10px;
    --background: #F2F2F2;
    border-radius: 8px;
}

.btn-align-center{
    display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
ion-button{
    height: 45px;
    --border-radius: 45px;
}
.txt-log{
    background: white;
    padding: 15px; 
    display: flex;
    justify-content: center;
}

.justify-content-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
   
}
.btn-social{ 
    width: 100%;
}



.uploadImageProduct{
    display: none;
  }
  
  .newImageContainer{
    
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
  
    img{
      max-width: 120px;
    }
  }
  .myImgTienda{
    max-width: 80px;
    padding: 10px;
  }

  .thisUploadImage{
 
    --border-color:transparent!important;
    --background: transparent!important;
    margin-bottom: 15px;
   
  }
  .myUploadIcon{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    margin-bottom: 15px;
    ion-button{
      width: 80px!important;
      height: 80px!important;
      ion-icon{
        font-size: 50px!important;
      }
    }
    ion-button::before{
      content: "Seleccionar";
      position: absolute;
      font-size: 12px;
      top: 80%;
      display: flex;
    }
  }
  
  .closeIcon{
    color: black;
    --background: transparent!important;
    --border-style: none !important;
    --box-shadow: none !important;
     
     
  }