<app-header2 titulo="Mi Tienda"></app-header2>

<ion-content class="ion-padding">

  <!-- HEAD -->
  <div class="container pg-dashboard">

    <div class="img-cont-tienda">
      <img src="../../../assets/avatar.jpg" />
    </div>

    <!-- Search br -->
    <ion-searchbar></ion-searchbar>
  </div>
  <!-- Options -->
  <section class="ion-padding">
    <ion-button size="small" class="naranja btn-txt-small">Ropa y Calzado</ion-button>
    <ion-button size="small" class="marron btn-txt-small">Artesanía</ion-button>
    <ion-button size="small" class="amarillo btn-txt-small">Alimentos</ion-button>
    <ion-button size="small" class="azul btn-txt-small">Otros</ion-button>

  </section>
  <!-- Options -->
  <section class="ion-padding">
    <div class="content-horizontal">
      <div class="action-button2">
        <ion-button color="success" size="small" [routerLink]="['/tabs-seller/new-product']" >
          <ion-icon slot="start" name="add-outline"></ion-icon> Añadir
        </ion-button> 
      </div>
      <div class="action-share">
        <ion-button fill="clear" size="large">
          <ion-icon  name="share-social-outline"></ion-icon> 
        </ion-button> 
  
      </div>
    </div>
  
  </section>

  <!-- TIopp -->
  <section class="ion-padding my-store">
      
    <ion-grid fixed>
      <ion-row>
        <ion-col size="auto" size-xl="3" size-lg="3" size-md="4" size-sm="6" size-xs="6" *ngFor="let producto of productos">
          <img [src]="producto.photoURL" class="myStoreProductImage" (click)="getProducto(producto)" >

          <ion-card-header>
            <h6>{{producto.precio}}$</h6>
            <ion-card-title>{{producto.nombre}}</ion-card-title>
          </ion-card-header>
        </ion-col>

      </ion-row>
    </ion-grid>
 
  </section>

 

</ion-content>