ion-label{
    font-weight: bold;
}


.file {
  opacity: 0;
  width: 0.1px;
  height: 0.1px;
  position: absolute;
}

.file-input label {
  display: block;
  position: relative;
  width: 200px;
  height: 50px;
  border-radius: 25px;
  background: linear-gradient(40deg,#ff6ec4,#7873f5);
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: transform .2s ease-out;
}

.file-name {
  position: absolute;
  bottom: -35px;
  left: 10px;
  font-size: 0.85rem;
  color: #555;
}

input:hover + label,
input:focus + label {
  transform: scale(1.02);
}

/* Adding an outline to the label on focus */
input:focus + label {
  outline: 1px solid #000;
  outline: -webkit-focus-ring-color auto 2px;
}

.uploadImageProduct{
  display: none;
}

.newImageContainer{
  
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;

  img{
    max-width: 120px;
  }
}

.myUploadIcon{
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  margin-bottom: 15px;
  ion-button{
    width: 80px!important;
    height: 80px!important;
    ion-icon{
      font-size: 50px!important;
    }
  }
  ion-button::before{
    content: "Seleccionar";
    position: absolute;
    font-size: 12px;
    top: 80%;
    display: flex;
  }
}

.closeIcon{
  color: black;
  --background: transparent!important;
  --border-style: none !important;
  --box-shadow: none !important;
   
   
}